In [4]:
print("Hello Python")

Hello Python

In [2]:
print(5)

5

In [3]:
print('a')

a

In [5]:
x = 3

In [6]:
print(x)

3

In [7]:
y = 8

In [8]:
print(y)

8

In [9]:
print(x+y)

11

In [10]:
z = 34234234

In [11]:
print (z + y)

34234242

In [12]:
print(x,y)

3 8

In [13]:
print (y-x)

5

In [14]:
print(x * y)

24

In [15]:
print(y / x)

2.6666666666666665

In [16]:
print(y // x)

2

In [17]:
print (y % x)

2

In [18]:
x = 4

In [19]:
print (x , y)

4 8

In [20]:
print(y % x)

0

In [21]:
print (y // x)

2

In [22]:
print (y ** x)

4096

In [23]:
print(y ^ x)

12

# Special characters 

```
@ : At (the rate) symbol
# : Pound / hash
$ : Dollar
% : Percent
^ : Circumflex  /caret
& : Ampersand
* : Asterisk
/ : Forward slash
\ : Backward slash
| : pipe
~ : tilde
` : back tick
: : Colon
; : Semi colon

```

In [25]:
x = 6
y = 4

In [32]:
print(x ^ y) # ^ is a logical XOR operator

2

In [31]:
print (x & y) # & is a logical AND operator

4

In [30]:
# | is a logical OR operator
print (x | y)

6

In [33]:
days_in_year = 365
daysInYear =365 # Camel case

In [35]:
# You cannot start a variable name with numbers
# or special characters
# 5x = 5  # this will give you syntax errors

# Variable names 
# Can start with characters (small or capital)
# Can start with an underscore
# Can contain numbers, underscores and other 
#     characters
# Cannot contain special characters anywhere
# spaces are not allowed 

first_name = "Unmesh"
last_name = "Joshi"
_seconds_in_minute = 60

In [41]:
fast_food = 'McDonald\'s'
fastFood = "McDonald's"

In [40]:
print (fast_food)

McDonald's

In [43]:
quote = "Steve Jobs says,hello\" and I say hello"

In [44]:
print(quote)

Steve Jobs says,hello and I say hello

In [48]:
# Examples of good and bad variable names
hello = "hello"
num4 = 5
price = 70
roll-over = 98
superRandom = 8
42Universe = 6

SyntaxError: invalid syntax (<ipython-input-48-52185773af18>, line 7)

In [49]:
number = 3

In [50]:
type(number)

int

In [51]:
pi = 3.14

In [52]:
type(pi)

float

In [55]:
alphabet = 'a'

In [56]:
type(alphabet)

str

In [57]:
name_of_university = "Vrije"

In [58]:
type(name_of_university)

str

In [59]:
is_it_raining = False

In [60]:
type(is_it_raining)

bool

In [61]:
print(type(is_it_raining))

<class 'bool'>

In [62]:
number = input("Enter a number : ")
print ("You entered ", number)

Enter a number : 45
You entered  45

In [64]:
# accept two numbers from user in variables
# and print the sum

num1 = input("Enter a number : ") # returns string
num2 = input("Enter another number : ")
print (num1 + num2) # concatenate strings

num3 = int(num1) # converts num1 to integer
num4 = int(num2) # converts num2 to integer
print (num3 + num4)

Enter a number : 5
Enter another number : 3
53
8

In [65]:
num1 = int(input("Enter a number : ")) # returns string
num2 = int(input("Enter another number : "))
print (num1 + num2)

Enter a number : 34
Enter another number : 24
58

In [66]:
print(is_it_raining)

False

In [67]:
print(is_it_raining and False)

False

In [68]:
print(is_it_raining or True)

True

In [69]:
print( (is_it_raining or True) and False)

False

In [72]:
a = 5
b = 3
c = 6
d = 2
print ((a + b) * c /d)

24.0

In [75]:
x = int("234")
y = int("hello") # this will not work

ValueError: invalid literal for int() with base 10: 'hello'

In [77]:
name = "Unmesh"
print ("name", name)

name Unmesh

In [81]:
myname = "Chris"
print(myname)

Chris

In [83]:
print(name)
print(myname)

Unmesh
Chris

In [84]:
myname = name
print (myname)

Unmesh

In [85]:
a = 4
b = 5
# Swap two variables using a third variable
print ("Before swapping...")
print ("a = ", a)
print ("b = ", b)
c = a
a = b
b = c

print ("After swapping...")
print ("a = ", a)
print ("b = ", b)

Before swapping...
a =  4
b =  5
After swapping...
a =  5
b =  4