In [3]:
sentence = "I love Amsterdam"
words = sentence.split()
words[1] = 'hate'
new_sentence = ' '.join(words) # ' ' is separator. words is iterable
print(new_sentence)

I hate Amsterdam

In [2]:
help(str.join)

Help on method_descriptor:

join(...)
    S.join(iterable) -> str

    Return a string which is the concatenation of the strings in the
    iterable.  The separator between elements is S.

In [5]:
def fact(n):
    if n == 0:
        return 1
    return n * fact(n-1)

In [9]:
n = (int(input("enter number :")))
if n < 0:
    print("factorial does not exist")
else:
     print(fact(n))

enter number :-4
factorial does not exist

```

if statement
else statement
for loop

x = 3 assignment statement 
x == TRUE expressions
while loop


print() functions
int()
type()


def fun() : definition of a function
```

### List functions

In [10]:
numbers = [3, 4 ,6, 8,1, 3, 2 ,4 ,8 ]

In [11]:
print(numbers)

[3, 4, 6, 8, 1, 3, 2, 4, 8]

In [12]:
# to add an element to the list
numbers.append(10)

In [13]:
print(numbers)

[3, 4, 6, 8, 1, 3, 2, 4, 8, 10]

In [16]:
len(numbers)

10

In [18]:
# count number of 3's in the list
numbers.count(3)

2

In [23]:
sorted_numbers = numbers.sort() # Will sort the list
numbers

[1, 2, 3, 3, 4, 4, 6, 8, 8, 10]

In [24]:
help(list.sort)

Help on method_descriptor:

sort(...)
    L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*

In [25]:
# Research about stable sort or bubble sort, quick sort

### List Comprehension

In [26]:
# Syntax I
numbers = [x for x in range(1,11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
# Syntax II
even_numbers = [x for x in range(1,11) if x %2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [29]:
# Wrong Syntax : You cannot use a colon after for in square brackets
even_numbers = [x for x in range(1,11): if x %2 == 0]
print(even_numbers)

SyntaxError: invalid syntax (<ipython-input-29-856da4d90c7c>, line 2)

In [31]:
# range does not accept letters as argument
for letter in range('z'):
    print(letter)

TypeError: 'str' object cannot be interpreted as an integer

In [32]:
#Syntax 3
pairs_of_numbers = [(x,y) for x in range(1,6) for y in ['a','b','c']]
print(pairs_of_numbers)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c'), (4, 'a'), (4, 'b'), (4, 'c'), (5, 'a'), (5, 'b'), (5, 'c')]

In [33]:
len(pairs_of_numbers)

15

In [39]:
# Syntax 4
pairs_of_numbers = [(x,y) for x in range(1,10) for y in ['a','b','c'] if x%2 == 1 and y == 'b']
print(pairs_of_numbers)

[(1, 'b'), (3, 'b'), (5, 'b'), (7, 'b'), (9, 'b')]

In [40]:
# Syntax 5
pairs_of_numbers = [(x,y) for x in range(1,10) if x%2 == 1 for y in ['a','b','c'] if y == 'b']
print(pairs_of_numbers)

[(1, 'b'), (3, 'b'), (5, 'b'), (7, 'b'), (9, 'b')]

In [47]:
coffeeshop_item = 'coffee' # global scope


def fun_in_Amsterdam():
    # Can access variables defined in a global scope
    coffeeshop_item = 'weed' # Local scope
    print(coffeeshop_item)

fun_in_Amsterdam() # call to a function
print(coffeeshop_item) # this will still print coffee

weed
coffee

## Global and Local variables

In [49]:
coffeeshop_item = 'coffee' # global scope

def fun_in_Amsterdam():
    # Can access variables defined in a global scope
    global coffeeshop_item
    
    coffeeshop_item = 'weed' # Local scope
    print(coffeeshop_item)

fun_in_Amsterdam() # call to a function
print(coffeeshop_item) # this will print weed because we changed it

weed
weed

In [71]:
# Fibonacci series
'''
0 1 1 2 3 5 8 13 21...
'''

def fibonacci(n):
    if n <= 0:
        print ("You cannot have 0th Fibonacci number")
    if n == 1:
        return 0
    if n == 2:
        return 1
    return fibonacci(n-1) + fibonacci(n-2)

def accept_input():
    try:
        a = int(input("Enter a number"))
    except:
        print("You did not type a number")
        return -1
    return a

def is_number_positive(n):
    if n <= 0:
        return False
    return True

number = accept_input()
if not is_number_positive(number):
    print("You should type a positive number")
else:
    print("Fibonacci number at index ", number , ": ", fibonacci(number))

Enter a number33
Fibonacci number at index  33 :  2178309

In [68]:
# Demo of function stack

def fun():
    gun()
    print("fun")
    pun()
    
def gun():
    print("gun")
    for i in range(1,6):
        print("hello")
    bun()

def pun():
    sun()
    print("pun")
    
def bun():
    print("bun")
    
def sun():
    print("sun")

In [67]:
fun()

gun
bun
fun
sun
pun

In [73]:
'''
Class : Abstract concept / you cannot see
Object: Concrete/ you can see

E.g.

1.
Car is a class
BMW car with number NL3452 is an object of this class

2.
Student is a class
Sabir is an object

'''
print()

In [105]:
class Employee:
    # Constructor of the class
    def __init__(self, eid, name, salary):
        self.eid = eid
        self.name = name
        self.salary = salary
    
    # self is the object that is calling the function
    def print_info(self):
        print(self.eid, ") ", self.name , " : ", self.salary)
        
    def __str__(self):
        return str(self.eid) + ") " + self.name + " : " + str(self.salary)

In [108]:
ben = Employee(101, "Benjamin", 45000)
dan = Employee(102, "Daniel", 55000)
# object.function()
ben.print_info()
dan.print_info()

101 )  Benjamin  :  45000
102 )  Daniel  :  55000

In [113]:
test = Employee.mro()
type(test)
print(test)

[<class '__main__.Employee'>, <class 'object'>]

In [101]:
x = int(3) # x = 3
print(x)

3

In [102]:
some_string = str("hello")
print(some_string)

hello

In [103]:
print(ben)

101) Benjamin : 45000

In [98]:
print(dan)

102) Daniel : 55000

In [107]:
'''
class string:

    def __init__(self, str)
    
    def count()
    
    def split()

'''
some_string = "I love Amsterdam" # some_string = str("I love Amsterdam")
print(some_string.split())

['I', 'love', 'Amsterdam']

In [149]:
class Manager(Employee): 
    def __init__(self, designation):
        self.eid = 104
        self.name = "Raj"
        self.salary = 55000
        self.des = designation
    def print_info(self):
        super().print_info()
        print("designation : ", self.des)

In [146]:
raj = Manager("manager")

In [147]:
Manager.mro() # Method Resolution Order

[__main__.Manager, __main__.Employee, object]

In [148]:
raj.print_info()

104 )  Raj  :  55000
designation :  manager

In [152]:
with open("test.csv", "w") as fout:
    fout.write("1,dan,8\n")
    fout.write("2,ana,7\n")
    fout.write("3,don,8\n")
    fout.write("4,sam,9\n")
    fout.write("5,Su,10\n")

In [154]:
# this will not work in Python IDE (Integrated Development Environment)
# This only works in Jupyter Notebook
!cat test.csv # print the content of the file

1,dan,8
2,ana,7
3,don,8
4,sam,9
5,Su,10

In [ ]:
pip install pandas

In [159]:
import pandas as pd

In [160]:
df = pd.read_csv('test.csv')# return a dataframe

In [161]:
df.describe()

              1          8
count  4.000000   4.000000
mean   3.500000   8.500000
std    1.290994   1.290994
min    2.000000   7.000000
25%    2.750000   7.750000
50%    3.500000   8.500000
75%    4.250000   9.250000
max    5.000000  10.000000

In [162]:
import math

In [163]:
math.factorial(34)

295232799039604140847618609643520000000

In [165]:
math.log2(8)

3.0

In [166]:
math.sin(90)

0.8939966636005579

In [ ]:
math.