# Python course Day 4

## Dictionaries

In [2]:
student = {"number": 570, "name":"Simon", "age":23, "height":165}

In [3]:
print(student)

{'number': 570, 'name': 'Simon', 'age': 23, 'height': 165}

In [4]:
print(student['name'])

Simon

In [5]:
print(student['age'])

23

In [6]:
my_list = {1: 23, 2:56, 3:78, 4:14, 5:67}

In [7]:
my_list[1]

23

In [8]:
my_list.keys()

dict_keys([1, 2, 3, 4, 5])

In [9]:
my_list.values()

dict_values([23, 56, 78, 14, 67])

In [10]:
student.keys()

dict_keys(['number', 'name', 'age', 'height'])

In [11]:
student.values()

dict_values([570, 'Simon', 23, 165])

In [12]:
student['number'] = 111

In [13]:
print(student)

{'number': 111, 'name': 'Simon', 'age': 23, 'height': 165}

In [14]:
student.items()

dict_items([('number', 111), ('name', 'Simon'), ('age', 23), ('height', 165)])

In [19]:
# Iterate over a list
numbers = [23,45,12,67,88,34,11]
for x in numbers:
    print(x)

23
45
12
67
88
34
11

In [23]:
student.keys()

dict_keys(['number', 'name', 'age', 'height'])

In [24]:
for k in student.keys():
    print("student", k, student[k])

student number 111
student name Simon
student age 23
student height 165

In [25]:
# initialize key and value with pairs from student dictionary
for key, value in student.items():
    print(key , "--->", value)

number ---> 111
name ---> Simon
age ---> 23
height ---> 165

In [26]:
print(student)

{'number': 111, 'name': 'Simon', 'age': 23, 'height': 165}

In [28]:
festival = 4
print(festival)

4

In [29]:
print(key)

height

In [30]:
# Iterate over two lists at a time


for x,y in zip(a,b):
    print(x , ":", y)

1 : 1
2 : 4
3 : 9
4 : 16
5 : 25

In [31]:
test = zip(a,b)

In [32]:
type(test)

zip

In [34]:
# Iterate over two lists at a time
a = [1,2,3,4,5]
b = [1,4,9,16,25]
c = [1,8,27,64,125]
for x,y,z in zip(a,b,c):
    print(x , ":", y , "- ", z)

1 : 1 -  1
2 : 4 -  8
3 : 9 -  27
4 : 16 -  64
5 : 25 -  125

In [35]:
# items that do not have a corresponding item in the other list
# are ignored
a = [1,2,3,4,5,6,7]
b = [1,4,9,16,25]
for x,y in zip(a,b):
    print(x , ":", y)

1 : 1
2 : 4
3 : 9
4 : 16
5 : 25

In [36]:
for x in numbers:
    print(x)

23
45
12
67
88
34
11

In [38]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [41]:
numbers

[23, 45, 12, 67, 88, 34, 11]

In [43]:
# Iterate over a list using index
for index in range(len(numbers)):
    print(index , ":", numbers[index])

0 : 23
1 : 45
2 : 12
3 : 67
4 : 88
5 : 34
6 : 11

## List Comprehension

In [45]:
# Pythonic ways to create lists
# 1
numbers = []
for i in range(1,101):
    numbers.append(i)

In [47]:
#1
'''
numbers contains all i's
such that
i takes value in range(1,101)
'''
numbers = [i for i in range(1, 101)]

In [48]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [49]:
def square(num):
    return num ** 2

In [50]:
square(5)

25

In [51]:
#2. call a function to make list of squares of numbers from 1-30
squared_numbers = [square(i) for i in range(1,31)]

In [52]:
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [57]:
#3) even numbers from 1 to 30
even_numbers = [i for i in range(1,31) if i%2 == 0]

In [58]:
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [59]:
my_list = []
for i in range(1,31):
    if i%2 == 0:
        my_list.append(i)

In [60]:
print(my_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [62]:
#4)  squares of even numbers from 1 to 30
squared_even_numbers = [square(i) for i in range(1,31) if i%2 == 0]

In [63]:
print(squared_even_numbers)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900]

In [66]:
#5) list of pairs
numbers_and_letters = [(chr(a),i) for a in range(65,68) for i in range(1,3)]

In [67]:
print(numbers_and_squares)

[('A', 1), ('A', 2), ('B', 1), ('B', 2), ('C', 1), ('C', 2)]

In [72]:
fun_list = []
for a in range(65,68):
    for i in range(1,3):
        fun_list.append((chr(a),i))
    #print() # prints a new line

print(fun_list)

[('A', 1), ('A', 2), ('B', 1), ('B', 2), ('C', 1), ('C', 2)]

In [76]:
even_numbers

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900]

In [77]:
36 in even_numbers

True

In [78]:
35 in even_numbers

False

In [79]:
if 36 in even_numbers:
    print("List contains 36")

List contains 36

In [81]:
even_numbers

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900]

In [84]:
all(even_numbers)

True

In [92]:
test = [True, True, False, True]

In [93]:
all(test)

False

In [97]:
not any(test)

False

In [95]:
even_numbers

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900]

In [98]:
import random

In [99]:
import math

In [100]:
math.factorial(6)

720

In [101]:
math.log2(16)

4.0

In [102]:
math.log10(1000)

3.0

In [103]:
math.pi

3.141592653589793

In [105]:
def fact(x):
    if x == 0:
        return 1
    elif x < 0:
        return -1
    answer     = 1
    multiplier = 1
    while multiplier <= x:
        answer *= multiplier
        multiplier += 1
    return answer

In [106]:
fact(0)

1

In [107]:
fact(-5)

-1

In [108]:
fact(4)

24

In [109]:
fact(6)

720

In [112]:
def fact_recur(x):
    if x == 0:
        return 1
    if x < 0 :
        return -1
    return x * fact_recur(x-1)

In [113]:
fact_recur(5)

120

In [118]:
def fibo(n):
    if n == 1:
        return 0
    if n == 2:
        return 1
    return fibo(n-1) + fibo(n-2)

In [115]:
fibo(2)

1

In [116]:
fibo(8)

13

In [117]:
fibo(9)

21

In [119]:
def simple_interest(principal, years, rate):
    return (principal * years * rate ) /100

In [120]:
print(simple_interest(5000, 5, 2))

500.0

In [123]:
# Function with default argument
def simple_interest(principal, years, rate=2):
    return (principal * years * rate ) /100

In [122]:
simple_interest(5000,5)

500.0

In [124]:
def simple_interest(principal=5000, years, rate=2):
    return(principal * years * rate ) /100

SyntaxError: non-default argument follows default argument (<ipython-input-124-6f3ed5c83102>, line 1)

In [129]:
def simple_interest(principal=5000, years=5, rate=2):
    print("p = ", principal)
    print("y = ", years)
    print("r = ", rate)
    return (principal * years * rate) / 100

In [130]:
simple_interest()

p =  5000
y =  5
r =  2

500.0

In [131]:
simple_interest(410)

p =  410
y =  5
r =  2

41.0

In [132]:
simple_interest(410, 10)

p =  410
y =  10
r =  2

82.0

In [133]:
# Call the function with keyword arguments/parameters
simple_interest(principal=7000, rate=10)

p =  7000
y =  5
r =  10

3500.0

In [134]:
simple_interest(rate=3.4)

p =  5000
y =  5
r =  3.4

850.0

In [140]:
fun()
def fun():
    print("fun")
    gun()

def gun():
    print("gun")
    hun()
    
def hun():
    print("hun")

fun
gun
hun

In [141]:
def good():
    print("good")
    better()
# good() will cause error because better() function is not defined yet
def better():
    print("better")
    best()
    
def best():
    print("best")
good()

good
better
best