## Python course day 8

## Revision of concepts

* Variable : place in a memory, changeable, has a name
* global vs local : global variables and local variables
    * global variables have global scope
    * local variables have local scope or block scope
    * Scope / block is a part of code that is indented within **if**/**else**/**while**/**function definition**
    * local variables defined within if/else blocks are visible outside of the blocks
* Dictionary: has keys and values. Keys cannot be mutable types.
* Mutable type : a data type whose value can be changed (mutated) after defining. e.g. a **list** is mutable. **tuple**, **strings** are not mutable.
* functions: block of code with a name, may or may not have arguments/parameters. may or may not have return values.
* Loops: block of code that runs over and over until some condition becomes false
    * for loop : use range()
    * while loop : use condition
* break and continue : both statements are valid inside a loop. 
    * break will break out of the loop (usually based on a condition)
    * continue still skip the current iteration and start the next iteration of the loop
* list : a data type(class) that **contains** a list of elements. it is mutable. it supports many functions like sort, reverse, count etc.
* set : a data type that **contains** a list of elements. all elements are unique.
* tuple : a data type that **contains** a list of elements. it is immutable.
* class : special construction in programming languages to bundle attributes and functions. Classes are abstract. They do not have memory when the program is run. Use classes to define a data type. classes have constructor (a special function with name __init__ that initializes data members of that class)
* object : an instance of a class. objects get memory when the program is run. In class functions, objects are represented with a special argument called **self**

In [22]:
class my_list:
    def __init__(self, self2, self3, *args):
        self.data = [*args]
        self.length = len(self.data)
        
    def append(this, item):
        this.data.append(item)

In [23]:
obj = my_list(1,2,3,4)# =>  my_list.__init__(obj, 1, 2, 3, 4)

In [24]:
obj.data

[3, 4]

In [25]:
obj.append(6)

In [26]:
obj.data

[3, 4, 6]

In [1]:
i = 8
if i == 8:
    j = 6
    print(i)
    print(j)
print(j)

8
6
6

In [ ]:
for i in range(10):
    print(i)

In [6]:
i = 0
while i < 10:
    print (i)
    if i == 4:
        i += 1
        continue
    print("Hello")
    i += 1

0
Hello
1
Hello
2
Hello
3
Hello
4
5
Hello
6
Hello
7
Hello
8
Hello
9
Hello

In [ ]:
i = 0
while True:
    i+=1
    print(i)
    j = 0
    while True:
        j += 1
        print(j)
        if j == 15:
            break
                    
    if i == 6:
        break

## Os module

In [28]:
import os

In [31]:
os.mkdir("Unicorn")

FileExistsError: [Errno 17] File exists: 'Unicorn'

In [32]:
os.chdir("Unicorn")

In [33]:
pwd # Print Working Directory

'/Users/unmesh/Unicorn'

In [35]:
for i in range(1,11):
    os.mkdir(str(i))

## File handling

In [46]:
?open()

In [52]:
'''
create a file test.txt with Write mode
and catch its handle in fout variable
'''
with open("test.txt", 'w') as fout:
    fout.write("I love rain\n")
    fout.write("I also love hiking in the rain\n")
    fout.write("I like hitch-hiking\n")
    fout.write(str(12)+"\n")
    fout.write("pi = " + str(3.14)+"\n")

#fout.write("I love heat too")

In [54]:
# Copy file into another file (with a different name)
os.link("test.txt", "1/monologue.txt")

In [56]:
for i in range(2,11):
    os.link("test.txt", str(i)+"/monologue.txt")

In [64]:
# By default open will open a file in read mode
with open("test.txt") as fin:
    lines = fin.readlines()
    for line in lines:
        print (line.strip())

I love rain
I also love hiking in the rain
I like hitch-hiking
12
pi = 3.14

In [66]:
# np is an alias  for numpy
import numpy as np

In [70]:
type(np.random)

module

In [76]:
# pass a tuple (10,5) that represents the size of matrix
matrix = np.random.random((10,5))

In [77]:
type(matrix)

numpy.ndarray

In [80]:
print(len(matrix[0]))

5

In [81]:
print(len(matrix[2]))

5

In [82]:
print(len(matrix))

10

In [88]:

.size

SyntaxError: invalid syntax (<ipython-input-88-602251a27a4e>, line 2)

In [89]:
poor_matrix = [[1,2,3,4], [5,6,7,8], [1,2,3,4]]

In [90]:
print(len(poor_matrix))

3

In [91]:
print(len(poor_matrix[0]))

4

In [92]:
poor_matrix.size

AttributeError: 'list' object has no attribute 'size'

In [115]:
with open("random.csv", 'w') as fout:
    rows = len(matrix)
    cols = len(matrix[0])
    fout.write("C1,C2,C3,C4,C5,\n")
    for i in range(rows):
        for j in range(cols):
            fout.write(str(int(matrix[i][j] * 100)) + ",")
        fout.write("\n")

In [116]:
import pandas as pd

In [117]:
df = pd.read_csv("random.csv", sep=',')

In [118]:
df.

SyntaxError: invalid syntax (<ipython-input-118-38e9e33c87a8>, line 1)

In [119]:
df.describe()

              C1         C2         C3         C4         C5  Unnamed: 5
count  10.000000  10.000000  10.000000  10.000000  10.000000         0.0
mean   59.900000  51.200000  47.200000  56.200000  45.500000         NaN
std    20.436623  25.672294  32.608111  27.583409  33.751543         NaN
min    28.000000  11.000000   2.000000   9.000000   3.000000         NaN
25%    43.000000  35.750000  18.500000  46.000000  17.000000         NaN
50%    66.500000  50.500000  50.500000  56.500000  41.500000         NaN
75%    72.500000  59.250000  77.750000  72.500000  63.750000         NaN
max    85.000000  95.000000  84.000000  95.000000  98.000000         NaN

In [120]:
df.head()

   C1  C2  C3  C4  C5  Unnamed: 5
0  66  49  14  91   3         NaN
1  74  44  83  95  98         NaN
2  52  11   2  52  26         NaN
3  34  95  32  57  57         NaN
4  28  33  71  56  96         NaN

In [122]:
df.head(-3)

   C1  C2  C3  C4  C5  Unnamed: 5
0  66  49  14  91   3         NaN
1  74  44  83  95  98         NaN
2  52  11   2  52  26         NaN
3  34  95  32  57  57         NaN
4  28  33  71  56  96         NaN
5  85  52  80  44  47         NaN
6  67  57   5  76  14         NaN

In [123]:
df.tail(3)

   C1  C2  C3  C4  C5  Unnamed: 5
7  85  60  43  20  12         NaN
8  40  86  58  62  36         NaN
9  68  25  84   9  66         NaN

In [124]:
df.tail()

   C1  C2  C3  C4  C5  Unnamed: 5
5  85  52  80  44  47         NaN
6  67  57   5  76  14         NaN
7  85  60  43  20  12         NaN
8  40  86  58  62  36         NaN
9  68  25  84   9  66         NaN

In [126]:
df

   C1  C2  C3  C4  C5  Unnamed: 5
0  66  49  14  91   3         NaN
1  74  44  83  95  98         NaN
2  52  11   2  52  26         NaN
3  34  95  32  57  57         NaN
4  28  33  71  56  96         NaN
5  85  52  80  44  47         NaN
6  67  57   5  76  14         NaN
7  85  60  43  20  12         NaN
8  40  86  58  62  36         NaN
9  68  25  84   9  66         NaN