# Python course Day 3

In [1]:
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [4]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [7]:
# Demonstration of break
i = 0
while i < 10:
    print(i)
    if i == 4:
        break    

    i += 1

0
1
2
3
4

In [6]:
# Demonstration of continue
i = 0
while i < 10:
    if i == 4:
        i += 1
        continue    
    print(i)
    i += 1

0
1
2
3
5
6
7
8
9

In [15]:
# Assignment 2.7
num = 1
print("Welcome to the grand square quiz!!! Press q to exit")
while True:
    chances = 3
    attempt = 0
    while attempt != chances:
        message = "What is the square of " + str(num) + " : "
        square = input(message)
        if square == "q":
            break
        real_answer = num ** 2
        if int(square) == real_answer:
            print("Correct! Keep it up!")
            break
        else:
            print("Keep trying! It's not end of the world")
            attempt += 1
    if square == "q":
        break
    if attempt == chances:
        print("The correct answer is : ", real_answer)
    
    num += 1

Welcome to the grand square quiz!!! Press q to exit
What is the square of 1 : 1
Correct! Keep it up!
What is the square of 2 : 3
Keep trying! It's not end of the world
What is the square of 2 : 3
Keep trying! It's not end of the world
What is the square of 2 : 3
Keep trying! It's not end of the world
The correct answer is :  4
What is the square of 3 : q

In [26]:
# Else-if ladder
points = int(input("Enter points: "))
if points > 100 or points < 0:
    print("You are from Mars!")
elif points >= 80:
    print("You got A")
elif points >= 70:
    print("You got B")
elif points >= 60:
    print("You got C")
elif points >= 50:
    print("You got D")
else:
    print("You got F")

Enter points: 120
You are from Mars!

## Lists

In [21]:
numbers = [1,2,3,4,5]

In [22]:
type(numbers)

list

In [23]:
random_numbers = [45,23,78,15,98,56]

In [27]:
print(random_numbers[1])

23

In [28]:
print(random_numbers[0])

45

In [29]:
print(random_numbers[2]) # say random_numbers of 2

78

In [31]:
print(random_numbers[-1])# prints last number

56

In [32]:
random_numbers

[45, 23, 78, 15, 98, 56]

In [33]:
random_numbers[-4]

78

In [34]:
random_numbers[2]

78

In [35]:
random_numbers[7]

IndexError: list index out of range

In [36]:
random_numbers.append(5)

In [37]:
random_numbers

[45, 23, 78, 15, 98, 56, 5]

In [38]:
random_numbers.clear()

In [39]:
random_numbers

[]

In [40]:
random_numbers = [45, 23, 78, 15, 98, 56, 5]

In [42]:
copy = random_numbers.copy()

In [43]:
copy

[45, 23, 78, 15, 98, 56, 5]

In [44]:
copy[2] = 100

In [45]:
copy

[45, 23, 100, 15, 98, 56, 5]

In [46]:
random_numbers

[45, 23, 78, 15, 98, 56, 5]

In [47]:
x = 5

In [48]:
duplicate = random_numbers.copy()

In [49]:
duplicate

[45, 23, 78, 15, 98, 56, 5]

In [50]:
duplicate[2] = 100

In [51]:
duplicate

[45, 23, 100, 15, 98, 56, 5]

In [52]:
random_numbers

[45, 23, 78, 15, 98, 56, 5]

In [53]:
id(random_numbers)

4563645256

In [54]:
id(duplicate)

4563726984

In [55]:
id(copy)

4562843528

In [56]:
duplicate = random_numbers

In [57]:
type(duplicate)

list

In [58]:
duplicate

[45, 23, 78, 15, 98, 56, 5]

In [59]:
duplicate[2] = 100

In [60]:
duplicate

[45, 23, 100, 15, 98, 56, 5]

In [61]:
random_numbers

[45, 23, 100, 15, 98, 56, 5]

In [63]:
random_numbers.count(100)

1

In [64]:
random_numbers.append(100)

In [65]:
random_numbers

[45, 23, 100, 15, 98, 56, 5, 100]

In [66]:
random_numbers.count(100)

2

In [67]:
len(random_numbers)

8

In [68]:
random_numbers

[45, 23, 100, 15, 98, 56, 5, 100]

In [70]:
temp = [5,6,7,8,9]

In [71]:
random_numbers.extend(temp)

In [72]:
random_numbers

[45, 23, 100, 15, 98, 56, 5, 100, 5, 6, 7, 8, 9]

In [73]:
random_numbers.append(temp)

In [74]:
random_numbers

[45, 23, 100, 15, 98, 56, 5, 100, 5, 6, 7, 8, 9, [5, 6, 7, 8, 9]]

In [79]:
random_numbers[-1][2]

7

In [80]:
random_numbers.index(100)# first index of the element

2

In [82]:
random_numbers.index(100, 3)

7

In [83]:
random_numbers.index(100, 8)

ValueError: 100 is not in list

In [84]:
random_numbers

[45, 23, 100, 15, 98, 56, 5, 100, 5, 6, 7, 8, 9, [5, 6, 7, 8, 9]]

In [85]:
random_numbers.index(7,-2)

ValueError: 7 is not in list

In [86]:
temp

[5, 6, 7, 8, 9]

In [87]:
random_numbers

[45, 23, 100, 15, 98, 56, 5, 100, 5, 6, 7, 8, 9, [5, 6, 7, 8, 9]]

In [88]:
random_numbers.index(temp)

13

In [91]:
random_numbers.insert(5, 8888)

In [92]:
random_numbers

[45, 23, 100, 15, 98, 8888, 56, 5, 100, 5, 6, 7, 8, 9, [5, 6, 7, 8, 9]]

In [93]:
random_numbers.pop()

[5, 6, 7, 8, 9]

In [94]:
random_numbers

[45, 23, 100, 15, 98, 8888, 56, 5, 100, 5, 6, 7, 8, 9]

In [95]:
random_numbers.remove(8888)

In [96]:
random_numbers

[45, 23, 100, 15, 98, 56, 5, 100, 5, 6, 7, 8, 9]

In [97]:
random_numbers.remove(100) # only removes the first occurrence of number

In [98]:
random_numbers

[45, 23, 15, 98, 56, 5, 100, 5, 6, 7, 8, 9]

In [99]:
random_numbers.reverse()

In [100]:
random_numbers

[9, 8, 7, 6, 5, 100, 5, 56, 98, 15, 23, 45]

In [101]:
random_numbers.sort()

In [102]:
random_numbers

[5, 5, 6, 7, 8, 9, 15, 23, 45, 56, 98, 100]

In [103]:
last_element = random_numbers.pop()

In [104]:
last_element

100

In [105]:
random_numbers.pop(2)

6

## Tuple

In [106]:
my_list = [1,2,3,4,5]
my_tuple = (1,2,3,4,5)

In [107]:
type(my_tuple)

tuple

In [108]:
my_tuple.count(4)

1

In [109]:
my_tuple.index(5)

4

In [110]:
# Tuples are immutable (not updatable)
my_tuple[2] = 20

TypeError: 'tuple' object does not support item assignment

In [111]:
my_list[2] = 20

In [112]:
name = "Vivianne"

In [113]:
len(name)

8

In [118]:
name.upper()

'VIVIANNE'

In [121]:
name

'Vivianne'

In [122]:
name[4]

'a'

In [123]:
name[4:]

'anne'

In [120]:
name[4:-1]

'ann'

In [124]:
name[4:7]

'ann'

In [125]:
name

'Vivianne'

In [129]:
name[:4]

'Vivi'

In [130]:
# Go from start to end and print every second element
name[0::2]

'Vvan'

In [131]:
'''
 Create a list using for loop that contains numbers from 1 - 100
 Then, gather all multiples of 5 in a separate list using slicing
 and print it
'''
my_numbers = [] # Initialize an empty list
for i in range(1,101):
    my_numbers.append(i) # append numbers to the list
    
# slice my_numbers from 4th index (with value 5)
# and print every 5th number
selected_numbers = my_numbers[4::5]
print(selected_numbers)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]