# Python course day 6

## Object Oriented Programming

In [1]:
x = 5
y = x + 6

def add(a,b):
    return a+b

z = add(x,y)

In [2]:
my_list = [1,2,3,4]

In [3]:
my_list.append(6)

In [4]:
my_list

[1, 2, 3, 4, 6]

In [5]:
x.append(6)

AttributeError: 'int' object has no attribute 'append'

In [6]:
my_list

[1, 2, 3, 4, 6]

In [7]:
my_tuple = (1,2,34)

In [8]:
print(type(my_list))

<class 'list'>

In [9]:
print(type(4))

<class 'int'>

In [10]:
print(type(my_tuple))

<class 'tuple'>

In [11]:
x = 3

In [12]:
print(x)

3

In [14]:
print(type(x))

<class 'int'>

In [16]:
# my_list is the object of class list
my_list = [1,2,3,4,5]

In [17]:
# x is the object of class int
x = 4

In [18]:
x.append(6)

AttributeError: 'int' object has no attribute 'append'

In [19]:
my_list.append(7)

In [20]:
x=6
my_list = [34,56,6,23]
my_dict = {'name':'dan', 'age':45}

In [22]:
print(type(my_dict))

<class 'dict'>

In [56]:
class student:
    '''
    Constructor of the class
    The name must be __init__
    '''
    def __init__(self, n, a, c, g):
        self.name = n
        self.age = a
        self.country = c
        self.gender = g
    
    # You have to pass self as the first argument
    def greet(self):
        print("I am ", self.name)
        print(self.age, self.gender)
        print("I come from ", self.country)

In [57]:
# Creating the object of student class
# student is name of the class
# student() will call the constructor of the class
# which must be defined as def __init__() inside that class
student_1 = student("David", 30, "UK", 'm')

In [55]:
student_1.gender

'f'

In [37]:
print(student_1.name)

David

In [38]:
print(type(student_1))

<class '__main__.student'>

In [58]:
student_2 = student("Ari", 34, "Finland", 'm')

In [59]:
type(student_2)

__main__.student

In [60]:
student_2.greet() # => greet(student_2)

I am  Ari
34 m
I come from  Finland

In [62]:
student_3 = student("Simon", 23, "Belgium", "m")
student_4 = student("Tyler", 26, "USA","m")
student_5 = student("Devesh", 28, "India", "m")

In [63]:
student_3.greet()
student_4.greet()
student_5.greet()

I am  Simon
23 m
I come from  Belgium
I am  Tyler
26 m
I come from  USA
I am  Devesh
28 m
I come from  India

In [136]:
class my_list:
    def __init__(self, *args):
        # create a list by expanding all args
        self.data = [*args]
        self.length = len(self.data)
        
    def append(self, item):
        self.data.append(item)
        self.length += 1

    def count(self, item):
        # apostrophe s
        # self's data's count
        return self.data.count(item)
    # Override special function
    def __str__(self):
        output = "["
        for index in range(self.length):
            output += str(self.data[index])
            if index < self.length-1:
                output += ","
        output += "]"
        return output

In [137]:
'''
length = 8
 index -> 0 1 2 3 4 5 6 7
 data     1 2 3 4 5 6 D I
'''
obj_list = my_list(1,2,3,4,5,6,"Devesh", "India")

In [138]:
print(obj_list)

[1,2,3,4,5,6,Devesh,India]

In [139]:
obj2_list = my_list('a', 'b', 'c')

In [140]:
obj2_list.data

['a', 'b', 'c']

In [141]:
obj_list.data

[1, 2, 3, 4, 5, 6, 'Devesh', 'India']

In [142]:
obj_list.length

8

In [143]:
obj_list.append(45)

In [144]:
obj_list.data

[1, 2, 3, 4, 5, 6, 'Devesh', 'India', 45]

In [145]:
obj_list.length

9

In [146]:
print(obj_list)

[1,2,3,4,5,6,Devesh,India,45]

In [147]:
x = [1,2,3,4]

In [148]:
print(x)

[1, 2, 3, 4]

In [163]:
x.count(2)

1

In [164]:
obj_list.data

[1, 2, 3, 4, 5, 6, 'Devesh', 'India', 45, 3]

In [165]:
obj_list.append(3)

In [152]:
obj_list.__str__()

'[1,2,3,4,5,6,Devesh,India,45,3]'

In [153]:
print(obj_list)

[1,2,3,4,5,6,Devesh,India,45,3]

In [154]:
num = 5

In [155]:
print(num)

5

In [156]:
print(type(num))

<class 'int'>

In [157]:
num.__str__()

'5'

In [158]:
add(4,5)

9

In [159]:
obj_list.count(3)

2

In [160]:
obj_list.count(1)

1

In [161]:
obj_list.count(100)

0

In [162]:
obj2_list.count('a')

1

In [169]:
for i in range(10):
    print(i, end= " ")

0 1 2 3 4 5 6 7 8 9

In [170]:
test = range(10)

In [171]:
print(type(test))

<class 'range'>

In [172]:
def simple_generator():
    yield 0
    yield 1
    yield 2
    return

In [180]:
gen = simple_generator()

In [181]:
type(gen)

generator

In [175]:
next(gen)

0

In [176]:
next(gen)

1

In [178]:
next(gen)

2

In [179]:
next(gen)

StopIteration:

In [182]:
def fibo(n):
    if n == 1:
        return 0
    if n == 2:
        return 1
    return fibo(n-1) + fibo(n-2)

In [189]:
# never do it
#fibo(1008)

In [190]:
def fibo_gen():
    yield 0
    yield 1
    first = 0
    second = 1
    while True:
        third = first + second
        yield third
        first = second
        second = third

In [191]:
fg = fibo_gen()

In [192]:
next(fg)

0

In [193]:
next(fg)

1

In [194]:
next(fg)

1

In [195]:
next(fg)

2

In [196]:
next(fg)

3

In [197]:
next(fg)

5

In [198]:
next(fg)

8

In [199]:
my_gen = fibo_gen()

In [ ]:
for i in range(1009):
    fibo_1008th = next(my_gen)
    print(fibo_1008th)

## Libraries

In [202]:
# Import a library
import math

In [203]:
math.log2(8)

3.0

In [206]:
import random

In [224]:
random.random()

0.3782993229263064

In [227]:
import numpy

In [228]:
nr = numpy.random

In [229]:
type(nr)

module

In [226]:
numpy.random.random(size=50)

array([0.99082858, 0.60813545, 0.45487935, 0.3137163 , 0.36826628,
       0.164103  , 0.32985498, 0.13611852, 0.7725967 , 0.69188481,
       0.15579312, 0.99034651, 0.18572366, 0.99878337, 0.78552374,
       0.44031628, 0.88175535, 0.80872091, 0.42911796, 0.1675064 ,
       0.0429963 , 0.66685277, 0.56964837, 0.45373811, 0.8109458 ,
       0.65567893, 0.80682078, 0.59294185, 0.56460486, 0.92905716,
       0.45728438, 0.45850803, 0.07268254, 0.92608792, 0.55871609,
       0.30764578, 0.53686777, 0.98118421, 0.01783894, 0.89954979,
       0.9300126 , 0.6244745 , 0.26645892, 0.65472748, 0.47202357,
       0.35024722, 0.90919309, 0.40790521, 0.98209062, 0.27622191])

In [230]:
import sys

In [231]:
print(sys.argv)

['/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py', '-f', '/Users/unmesh/Library/Jupyter/runtime/kernel-3c94b676-f67d-442d-a882-269a3a374f82.json']