# Python course day 5

## Scope of variables in functions

In [1]:
def visit_coffeeshop():
    coffeeshop_item = "coffee"
    print("Consume", coffeeshop_item)

In [2]:
visit_coffeeshop()

Consume  coffee

In [7]:
coffeeshop2_item = "coffee" # Global scope of variable
def visit_coffeeshop_amsterdam():
    coffeeshop2_item = "weed" # Local scope of variable
    print("Consume", coffeeshop2_item)
visit_coffeeshop_amsterdam()
print("Consume", coffeeshop2_item)

Consume weed
Consume coffee

In [9]:
number_of_students = 0
def enroll_student(name):
    global number_of_students
    number_of_students += 1
    
enroll_student("Sander")
enroll_student("Jeroen")
enroll_student("Maartje")
enroll_student("Cristi")
enroll_student("Fides")

In [10]:
print(number_of_students)

5

In [14]:

def enroll_student():
    number_of_bad_students = 0
    number_of_bad_students += 1
    print(number_of_bad_students)
    
enroll_student()
enroll_student()
enroll_student()
enroll_student()
enroll_student()
print(number_of_bad_students)

1
1
1
1
1

NameError: name 'number_of_bad_students' is not defined

In [17]:
def stupid_average(a, b, c):
    return (a+b+c)/3

In [18]:
stupid_average(1,2,3)

2.0

In [25]:
my_list = [1,2,3,4,5]
for item in my_list:
    print(item)

1
2
3
4
5

In [19]:
def average(*args): # args is a list of arguments
    total = 0
    for a in args:
        total += a
        
    return total / len(args)

In [20]:
average(1,2,3)

2.0

In [21]:
average(3,4)

3.5

In [22]:
average(4,5,7,4,5,78,9,4,7,4,7,4,78,3,5)

14.933333333333334

In [23]:
average(56,23,78,90,221,4,,5,6,6,7)

SyntaxError: invalid syntax (<ipython-input-23-404fcb11831d>, line 1)

In [24]:
average(4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4)

4.0

In [28]:
my_list = [1,2,3,4,5]

In [29]:
type(my_list)

list

In [30]:
# expand the list my_list and pass each item as argument
average(*my_list)

3.0

In [37]:
def print_student_info(**kwargs): # short for KeyWord argument
    print(type(kwargs))
    for k,v in kwargs.items():
        print(k,":",v)

In [38]:
print_student_info(grade='A', name='Dan', age=23, height=178.3, is_married=False)

<class 'dict'>
grade : A
name : Dan
age : 23
height : 178.3
is_married : False

In [47]:
'''
a,b,c are positional arguments
d,e are arguments with default values (aka keyword arguments)
args is a list of variable number of arguments
kwargs is a dictionary of keyword arguments
'''
def crazy_function(a,b,c,d=5,e='Z',*args,**kwargs):
    print("Craziness begins!")
    print("a:", a)
    print("b:", b)
    print("c:", c)
    print("d:", d)
    print("e:", e)
    
    print("!" * 60)
    for item in args:
        print(item)
        
    print("*" * 60)
    for k,v in kwargs.items():
        print(k, "->", v)

In [48]:
my_dict = {'name':'Dan', 'age':23, 'grade':'A'}
crazy_function(1,2,3,4,'A',*my_list, **my_dict)

Craziness begins!
a: 1
b: 2
c: 3
d: 4
e: A
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
1
2
3
4
5
************************************************************
name -> Dan
age -> 23
grade -> A

In [49]:
crazy_function(12,34,56)

Craziness begins!
a: 12
b: 34
c: 56
d: 5
e: Z
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
************************************************************

In [50]:
crazy_function(12,34,56,*my_list,**my_dict)

Craziness begins!
a: 12
b: 34
c: 56
d: 1
e: 2
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
3
4
5
************************************************************
name -> Dan
age -> 23
grade -> A

In [52]:
crazy_function(12,34,56)

Craziness begins!
a: 12
b: 34
c: 56
d: 5
e: Z
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
************************************************************

In [53]:
crazy_function(1,2,3,5,'Z',*my_list, **my_dict)

Craziness begins!
a: 1
b: 2
c: 3
d: 5
e: Z
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
1
2
3
4
5
************************************************************
name -> Dan
age -> 23
grade -> A

## Strings functions

In [60]:
name = "Andrea"
print(name)

Andrea

In [61]:
# Iterate over a string: view as a sequence of characters
for ch in name:
    print(ch)

A
n
d
r
e
a

In [62]:
name

'Andrea'

In [63]:
name[1] = 'm' # Proof of the fact that string are immutable

TypeError: 'str' object does not support item assignment

In [64]:
'''
  0 1 2 3 4 5
  A n d r e a

'''
name = name[0] + "m" + name[2:]
print(name)

Amdrea

In [70]:
my_list = (1,2,3,4,5)

In [71]:
my_list[3] = 45

TypeError: 'tuple' object does not support item assignment

In [69]:
print(my_list)

[1, 2, 3, 45, 5]

## split () and join()

In [72]:
name = "Victor van de Boer"

In [73]:
elements = name.split()

In [74]:
type(elements)

list

In [76]:
print(elements)

['Victor', 'van', 'de', 'Boer']

In [77]:
elements[1]

'van'

In [78]:
elements[0]

'Victor'

In [79]:
elements[-1] = 'Sloot'

In [80]:
funny_name = " ".join(elements)

In [81]:
funny_name

'Victor van de Sloot'

In [84]:
sales_figures = [456,234,789,213,678,345,890]

sales_figures_str = [str(x) for x in sales_figures]

excel_row = ','.join(sales_figures_str)

In [85]:
print(excel_row)

456,234,789,213,678,345,890

## Sets

In [87]:
# define a set
my_set = set()

In [88]:
my_set.add(1)
my_set.add(2)
my_set.add(3)

In [89]:
print(my_set)

{1, 2, 3}

In [90]:
my_set.add(2)
my_set.add(1)
my_set.add(2)

In [91]:
print(my_set)

{1, 2, 3}

In [92]:
my_set.add(1)
my_set.add(1)
my_set.add(1)
my_set.add(1)
my_set.add(1)
my_set.add(1)
my_set.add(1)

In [93]:
print(my_set)

{1, 2, 3}

In [100]:
duplicates = [6,6,7,1,1,8,1,1,2,3,2,3,4,4,5]

In [101]:
set_from_duplicates = set(duplicates)

In [102]:
print(set_from_duplicates)

{1, 2, 3, 4, 5, 6, 7, 8}

In [103]:
print(duplicates)

[6, 6, 7, 1, 1, 8, 1, 1, 2, 3, 2, 3, 4, 4, 5]

In [104]:
print(list(set_from_duplicates))

[1, 2, 3, 4, 5, 6, 7, 8]

## Matrix = list of lists

In [105]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]

In [106]:
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [107]:
print(matrix[0])
print(matrix[1])
print(matrix[2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

## Towards beautification of matrices

In [108]:
print(matrix[0])

[1, 2, 3]

In [110]:
print(matrix[0][0], end=' ')
print(matrix[0][1], end=' ')
print(matrix[0][2])

1 2 3

In [112]:
print(matrix[0][0], end=' ')
print(matrix[0][1], end=' ')
print(matrix[0][2])
print(matrix[1][0], end=' ')
print(matrix[1][1], end=' ')
print(matrix[1][2])
print(matrix[2][0], end=' ')
print(matrix[2][1], end=' ')
print(matrix[2][2])

1 2 3
4 5 6
7 8 9

In [113]:
len(matrix)

3

In [115]:
len(matrix[0])

3

In [114]:
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [119]:
rows = len(matrix)
cols = len(matrix[0]) # assuming that all rows have same # of cols
for i in range(rows):
    for j in range(cols):
        print(matrix[i][j], end=' ')
    # here inner for loop ends
    print()

1 2 3
4 5 6
7 8 9

In [120]:
rows = len(matrix)
cols = len(matrix[0]) # assuming that all rows have same # of cols
print("_" + " "* cols *2 + "_")
for i in range(rows):
    for j in range(cols):
        if j == 0:
            print("| ",end='')
        print(matrix[i][j], end=' ')
    # here inner for loop ends
    print('|')
print("_" + " "* cols *2 + "_")

_      _
| 1 2 3 |
| 4 5 6 |
| 7 8 9 |
_      _

In [121]:
my_favorite = {'colors' : ['white', 'sky blue', 'green'], 
              'numbers' : [24, 12, 19, 5, 23],
              'constants' : [3.14, 2.718]}

In [122]:
print(my_favorite['colors'])

['white', 'sky blue', 'green']

In [123]:
my_favorite['colors'].append('red')

In [124]:
my_favorite

{'colors': ['white', 'sky blue', 'green', 'red'],
 'numbers': [24, 12, 19, 5, 23],
 'constants': [3.14, 2.718]}

In [125]:
?my_favorite.update

In [127]:
my_list = [1,2,3,4,5]

In [128]:
your_favorite = {'colors': ['pink', 'blue'], 'numbers' : [1,7,81]}

In [129]:
my_favorite

{'colors': ['white', 'sky blue', 'green', 'red'],
 'numbers': [24, 12, 19, 5, 23],
 'constants': [3.14, 2.718]}

In [132]:
my_favorite.update(your_favorite)

In [133]:
my_favorite

{'colors': ['pink', 'blue'], 'numbers': [1, 7, 81], 'constants': [3.14, 2.718]}

In [134]:
list_key_dict = {[1,2,3]: 'abc', [4,5,6]:'def'}

TypeError: unhashable type: 'list'

In [135]:
test_dict = {1000000:"one million", 456476: "big number"}

In [136]:
print(test_dict[456476])

big number

In [137]:
tuple_key_dict = {(1,2,3): 'abc', (4,5,6):'def'}

In [138]:
tuple_key_dict[(1,2,3)] # Use tuple (1,2,3) as a key

'abc'

In [141]:
my_set_1 = set(my_list)
my_set_2 = set([8,7,6,4,6,8])
set_key_dict = {my_set_1: "heaven", my_set_2: "hell"}

TypeError: unhashable type: 'set'

## A note on brackets!

* Use curly brackets {} to define a dictionary
* Use square brackets [] to
    * define list
    * access the element from the iterable type
* Use parantheses () to
    * define a tuple
    * call a function