# Python course Day 2

In [1]:
num = 5

In [2]:
print(num)

5

In [3]:
num = num + 1 # compute num + 1 and assign its value to num

In [4]:
print(num)

6

In [5]:
num += 1 # num = num + 1

In [6]:
print(num)

7

In [7]:
num++

SyntaxError: invalid syntax (<ipython-input-7-db1c5ffd2ea9>, line 1)

In [8]:
num -= 1

In [9]:
print(num)

6

In [10]:
num += 10

In [11]:
print(num)

16

In [12]:
num *= 5

In [13]:
num /= 4

In [14]:
num //= 5

In [15]:
print(num)

4.0

In [16]:
8 / 3

2.6666666666666665

In [17]:
8 // 3

2

In [18]:
name = "Devesh"

In [19]:
print(name * 3)

DeveshDeveshDevesh

In [20]:
number = "5"

In [21]:
print(number * 3)

555

In [22]:
print (name + 4)

TypeError: must be str, not int

In [23]:
print(name + " Very long")

Devesh Very long

In [24]:
print(name - "sh")

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [26]:
print("<3" * 80)

<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3<3

In [27]:
pi = 3.14

In [28]:
pi += 1

In [29]:
print(pi)

4.140000000000001

In [30]:
is_Sunny = True

In [31]:
print(is_Sunny)

True

In [32]:
5 < 7

True

In [33]:
5 > 7

False

In [34]:
5 <= 5

True

In [35]:
5 >= 5

True

In [36]:
7 >= 5

True

In [37]:
5 == 5

True

In [38]:
5 == 4

False

In [39]:
x = 3 # assign 3 to x

In [40]:
x == 3 # Check whether x is equal to 3

True

In [41]:
X = 4

In [45]:
# Variable names are case sensitive. X and x are different variables.
X == x

False

In [43]:
print (X)

4

In [44]:
print(x)

3

In [46]:
"Devesh" == "Unmesh"

False

In [47]:
name == "Devesh"

True

In [48]:
print(name)

Devesh

In [49]:
name != "Unmesh"

True

In [59]:
num = 4 
# .num = 5 # error
num2 = 14
#2num = 45 # error
number_of_students = 29
#num$ = 6 # error
#$num = 7 # error
#num-even = 2 # error
_num = 5
# number of students = 29 # error

* Variable names must start with a letter or an underscore
* Variable names cannot contain any special characters (except underscores)
* Variable names may contain digits but not at the beginning
* Variable names cannot have spaces

In [60]:
number___OfStUdEnTsIn2Thousand19_Sum_Schhool = 29

In [61]:
print(number___OfStUdEnTsIn2Thousand19_Sum_Schhool)

29

In [62]:
name = "Nikita"

In [64]:
firstName = "Nikita" # Camel case
first_name = "Nikita" # Snake case
numberOfStudents = 29 # Camel case
number_of_students = 29 # Snake case
number_1 = 1 # Snake case

number_1 = "string"

## Conditional statements

In [71]:
it_is_sunny = False

In [72]:
if it_is_sunny:
    print("I will go to a beach")
    print("And I will swim")
    print("and then I will bask")
else:
    print("I will play a board game")

I will play a board game

In [74]:
n = 5
if n > 2:
    print(n, "is greater than 2")
else:
    print(n, " is less than 2")

5 is greater than 2

In [94]:
n = eval(input("Enter a number: "))
if n > 20 and n < 100:
    print(n, "is between 20 and 100")
else:
    print(n, "is not between 20 and 100")

Enter a number: 56.67
56.67 is between 20 and 100

In [78]:
int("5")

5

In [79]:
int("five")

ValueError: invalid literal for int() with base 10: 'five'

In [83]:
num = eval('4')

In [84]:
type(num)

int

In [85]:
num = eval('3.14')

In [86]:
type(num)

float

In [87]:
num = eval('True')

In [88]:
type(num)

bool

In [92]:
num = eval('test')

NameError: name 'test' is not defined

In [95]:
"hello" == "hello"

True

In [96]:
"hello" == "hell0"

False

In [97]:
"hello" < "hell0"

False

In [98]:
"A" < "B"

True

In [99]:
"B" < "Z"

True

In [100]:
"A" < "a"

True

In [101]:
ord('A')

65

In [102]:
ord('a')

97

In [103]:
"A" < "a"

True

In [104]:
"B" < "a"

True

In [106]:
print('Hello "Carlien"')

Hello "Carlien"

In [107]:
print("Hello 'Carlien'")

Hello 'Carlien'

In [109]:
print("Hello \"Carlien\"")

Hello "Carlien"

In [110]:
"Hello" < "Hell0"

False

In [111]:
ord('o')

111

In [112]:
ord('0')

48

In [113]:
"Carlien" < "Devesh"

True

In [114]:
chr(65)

'A'

In [116]:
chr(87)

'W'

In [117]:
chr(56)

'8'

In [118]:
num_1 = 200
num_2 = 200
num_1 is num_2

True

In [119]:
num_1 = 2000
num_2 = 2000
num_1 is num_2

False

In [120]:
num_1 = 200
num_2 = 200
num_1 is num_2

True

In [121]:
id(num_1)

4366298688

In [122]:
id(num_2)

4366298688

In [123]:
num_1 = 256
num_2 = 256
num_1 is num_2

True

In [124]:
num_1 = 257
num_2 = 257
num_1 is num_2

False

In [125]:
id(num_1)

4403401040

In [126]:
id(num_2)

4403401360

In [129]:
dec_1 = 3.14
dec_2 = 3.14
dec_1 is dec_2 # checks for the memory location

False

In [131]:
id(dec_1)

4403308368

In [132]:
id(dec_2)

4403308248

In [130]:
dec_1 == dec_2 # checks for the value

True

## Functions

In [133]:
print("Hello") # Call the function with input "Hello"

Hello

In [134]:
print("Hello" , "World") # # Input to the function is called  argument / parameter

Hello World

In [135]:
print("Hi",5,"World")

Hi 5 World

In [137]:
print("Hi"+str(5)+"World")

Hi5World

In [138]:
print("Hi",5,"World",sep='-')

Hi-5-World

In [141]:
?print # ... is ellipses

In [140]:
print("a" , 5, 3.14, "hello")

a 5 3.14 hello

In [142]:
print("Hello")
print("World")

Hello
World

In [143]:
print("Hello", end=":")
print("World")

Hello:World

In [146]:
# single line comment
'''
this is a multiple line comment
We are going to define a function
Name of the function is greet
def is the part of the syntax
def is a keyword (reserved word) in the language
After the name of the function you have to write parantheses
followed by a colon (:)
'''
# Function with no input and no output
def greet():
    print("Hello")

In [147]:
greet() # call the function

Hello

In [148]:
# Function with one argument and no output
def greet_at_home(greeting):
    print(greeting)

In [149]:
greet_at_home("Namaste")

Namaste

In [150]:
greet_at_home("Hoi, Goedemiddag")

Hoi, Goedemiddag

In [151]:
greet_at_home("Ni hao")

Ni hao

In [152]:
greet_at_home("Hola")

Hola

In [153]:
greet_at_home("Terve")

Terve

In [154]:
greet_at_home("Shalom")

Shalom

In [155]:
greet_at_home("Hey")

Hey

In [165]:
# Function with 2 arguments and 1 output / return value
def add(num_1, num_2):
    #result = num_1 + num_2
    return num_1 + num_2 # this is how you return the output

In [166]:
test = 5 + 6

In [167]:
print(test)

11

In [169]:
test = add(5,6) # call of the function

In [170]:
print(test)

11

In [171]:
var = add(345, 56)

In [172]:
print(var)

401

In [162]:
test = greet_at_home("Hello")

Hello

In [163]:
print(test)

None

In [164]:
type(test)

NoneType

In [176]:
def square(num):
    return num ** 2

In [178]:
square(5)

25

In [177]:
print(square(21))

441

In [175]:
print(square(4))

16

## Loops

In [179]:
def table(n):
    print(n * 1)
    print(n * 2)
    print(n * 3)
    print(n * 4)
    print(n * 5)
    print(n * 6)
    print(n * 7)
    print(n * 8)

In [180]:
table(7)

7
14
21
28
35
42
49
56

In [181]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [182]:
for i in range(10):
    print(i+1)

1
2
3
4
5
6
7
8
9
10

In [184]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [185]:
def table(n):
    for i in range(1,11):
        print(n*i)

In [186]:
table(6)

6
12
18
24
30
36
42
48
54
60